body {
  color: #666;

  .main {
    width: 920px;
    margin: 0px auto;
  }

  #header {
    width: 100%;
    position: fixed;
    height: 60px;
    background: #45aeea;
    background-image: linear-gradient(to bottom,#54b4eb,#2fa4e7);
    box-shadow: 0 0px 10px 3px #45aeea;

    #logo {
      width: 150px;
      height: 100%;
      margin-right: 20px;
      float: left;
      color: white;
      font-size: 35px;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
      padding: 18px 0px 0px 10px;
      font-weight: bold;
    }

    #header-nav {
      float: left;

      .header-nav-item {
        float: left;
        padding: 20px;
        cursor: pointer;

        > a {
          color: white;
          font-size: 19px;
          text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
        }

        &:hover, &:active, &:visited {
          background: #1684c2;
          height: 15px;
          border-bottom: 5px white solid;
          border-radius: 0px 0px 5px 5px;

          .caret {
            display: inline-block;
          }

          > a {
            text-decoration: none;
          }
        }
      }

      .caret {
        border-top-color: #fff;
        display: none;
      }

      .dropdown-menu {
        top: 60px;
      }
    }
  }

  #main {
    padding: 10px;
    box-shadow: 0 1px 5px 0px #ccc;

    #main-content {
      margin-top: 60px;
      min-height: 600px;

      #flash-messages {
        .flash {
          padding: 5px;
          text-align: center;
          border-radius: 5px;

          &.flash-notice {
            background: #dff0d8;
            color: #468847;
          }

          &.flash-alert {
            background: #f2dede;
            color: #b94a48;
          }
        }
      }
    }
  }

  #footer {
    height: 40px;
    border-top: 1px solid #DDD;

    .main {
      padding-top: 15px;
      text-align: center;
      font-weight: bold;
    }
  }
}