body {
  color: #666;

  .main {
    width: 920px;
    margin: 0px auto;
  }

  #header {
    width: 100%;
    background: #45aeea;
    background-image: linear-gradient(to bottom,#54b4eb,#2fa4e7);
    box-shadow: 0 0px 10px 3px #0F5B86;

    #logo {
      width: 150px;
      height: 100%;
      margin-right: 20px;
      float: left;
      color: white;
      font-size: 35px;
      text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
      padding: 18px 0px 0px 10px;
      font-weight: bold;
    }

    #header-nav {
      float: left;

      .header-nav-item {
        float: left;
        cursor: pointer;
        height: 25px;
        padding: 5px 10px 3px 8px;
        margin: 12px 15px;
        border-radius: 10px;
        transition: background 0.3s;

        .icon-large {
          line-height: 20px;
          color: #fff;
          transition: color 0.3s;
        }

        > a {
          margin-left: 5px;
          color: #fff;
          font-size: 19px;
          text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
          transition: color 0.3s;
        }

        &:hover, &:active, &:visited {
          background: #fff;

          .caret {
            display: inline-block;
          }

          .icon-large {
            color: #45aeea;
          }

          > a {
            color: #45aeea;
            text-decoration: none;
          }
        }
      }

      .caret {
        border-top-color: #45aeea;
        display: none;
      }

      .dropdown-menu {
        top: 45px;

        &:before {
          position: absolute;
          top: -7px;
          left: 30px;
          display: inline-block;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #ccc;
          border-left: 7px solid transparent;
          border-bottom-color: rgba(0, 0, 0, 0.2);
          content: '';
        }

        &:after {
          position: absolute;
          top: -6px;
          left: 31px;
          display: inline-block;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #ffffff;
          border-left: 6px solid transparent;
          content: '';
        }
      }
    }

    .header-subnav {
      padding: 3px;
      height: 20px;
      background: #0F5B86;
      color: #CEE9F9;
      display: none;
      text-align: center;

      .main {
        .subnav-item {
          margin: 0px 10px;
          font-weight: bold;
          display: inline-block;

          > a {
            color: #CEE9F9;
          }
        }
      }
    }
  }

  #main {
    padding: 10px;
    box-shadow: 0 1px 5px 0px #ccc;

    #main-content {
      min-height: 600px;

      #flash-messages {
        .flash {
          padding: 5px;
          text-align: center;
          border-radius: 5px;

          &.flash-notice {
            background: #dff0d8;
            color: #468847;
          }

          &.flash-alert {
            background: #f2dede;
            color: #b94a48;
          }
        }
      }
    }
  }

  #footer {
    height: 40px;
    border-top: 1px solid #DDD;

    .main {
      padding-top: 15px;
      text-align: center;
      font-weight: bold;
    }
  }
}